<h3>Editing pool</h3>

<% form_for(@pool) do |f| %>
  <%= f.error_messages %>

<table class="border">
	<%= render :partial => 'pool', :locals => {:f => f} %>
	<tr><td>&nbsp</td></tr>
    <tr>
      <td><%= f.submit "Update" %></td>
	</tr>
<% end %>
</table>

<%= link_to 'Show', @pool %> |
<%= link_to 'Back', :back %>
