<h3>New pool</h3>

<fieldset>
<% form_for(@pool) do |f| %>
  <%= f.error_messages %>

<table class="form">
	<%= render :partial => 'pool', :locals => {:f => f} %>
	<tr><td>&nbsp</td></tr>
    <tr>
      <th>Enter filter for BioMek runs for this pool:</th>
      <td><%= text_field_tag :biomek %></td>
      
	</tr>
</table>
</fieldset>
<br/>
<%= f.submit "Create Pool" %>
<% end %>

<br/><br/>
<%= link_to 'Back', pools_path %> |
<%= link_to 'New project', new_project_path %> |
<%= link_to 'New storage location', new_storage_location_path %>
