<h1>Editing oligo_plate</h1>

<% form_for(@oligo_plate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= @oligo_plate.oligo_plate_nr %> 
    ( <%= @oligo_plate.synth_plate_nr %> )
  </p>

  <p>
    <%= f.label 'Room/Shelf/Bin/Box' %><br />
	<%= @oligo_plate.storage_location.location_string if @oligo_plate.storage_location %>
	&nbsp 
	<%= f.collection_select(:storage_location_id, @storage_locations, 
                                                 :id, :location_string) %> 
  </p>
  
  <p>
    <%= f.label :comments %><br />
	<%= f.text_field :comments %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @oligo_plate %> |
<%= link_to 'Back', oligo_plates_path %>
