<h3>Create oligo plate copy(ies)</h3>

<table class="border">
  <% form_tag :action => 'copy_params' do %>
 
  <tr>
    <th>Source Plate Number:</th>
    <td><%= collection_select(:oligo_plate, :id, @plate_nrs, :id, :oligo_plate_nr)%></td>
  </tr>
  
  <tr>
  	<th>Total volume to pipet out:</th>
	<td><%= text_field_tag(:total_vol, 10, :size => 10) %></td>
	<th>Copy plate concentration (uM):</th>
	<td><%= text_field_tag(:copy_conc, 10, :size => 10) %></td>
  </tr>
  
  <tr>
  	<th>Copy code for new plate(s):</th>
	<td><%= select_tag(:copy_code, options_for_select(%w{C D E F}))%></td>
	<th>Number of copy plates:</th>
	<td><%= text_field_tag(:nr_copies, 3, :size => 10) %></td>
  </tr> 
</table>

<%= submit_tag "Submit" %><br/><br/>
<%end%>

<%= link_to 'List Plates', oligo_plates_path %>
