<table>
<tr>
	<th>Plate Nr</th>
	<th>Well Nr</th>
	<th>Oligo Name</th>
</tr>
<tr>
	<td><%=h @oligo_plate.oligo_plate_nr %></td>
	<td><%=h @oligo_plate.oligo_well_nr %></td>
	<td><%=h @oligo_plate.oligo_name %></td>
</tr>
</table>

<p>
  <b>Initial volume: </b>   <%=h @oligo_plate.well_initial_volume %>
  <b>Remaining volume: </b> <%=h @oligo_plate.well_rem_volume %>
  
</p>

<%= link_to 'Edit', edit_oligo_plate_path(@oligo_plate) %> |
<%= link_to 'Back', oligo_plates_path %>
