<table class="border">
<tr>
	<th>Plate</th>
	<th>Synth Order</th>
	<th>Room/Shelf/Bin/Box</th>
	<th>Plate Comments </th>
</tr>
<tr>
	<td><%=h @oligo_plate.oligo_plate_nr %></td>
	<td><%=h @oligo_plate.synth_plate_nr %></td>
	<td><%=h @oligo_plate.storage_location.location_string if @oligo_plate.storage_location %></td>
	<td><%=h @oligo_plate.comments %></td>
</tr>
</table>

<%= link_to 'Edit', edit_oligo_plate_path(@oligo_plate) %> |
<%= link_to 'Back', oligo_plates_path %>
