<h3>Oligo Flag - Show</h3>


<table class="border">
  	<tr>
  	  <th>Flag value: </th>
	  <td><%=h @flag_def.flag_value %></td>
	</tr>
	
	<tr>
	  <th>Name: </th>
      <td><%=h @flag_def.flag_name %></td>
	</tr>
	
	<tr>
	  <th>Description: </th>
      <td><%=h @flag_def.flag_description %></td>
	</tr>
</table>

  <% if current_user && current_user.has_role?("admin") %>
    <%= link_to 'Edit', edit_flag_def_path(@flag_def) %> |
    <%= link_to 'Back', flag_defs_path %>
  <% end %>

