<h1>Editing pool_plate</h1>

<% form_for(@pool_plate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pool_plate_nr %><br />
    <%= f.text_field :pool_plate_nr %>
  </p>
  <p>
    <%= f.label :pool_well_nr %><br />
    <%= f.text_field :pool_well_nr %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @pool_plate %> |
<%= link_to 'Back', pool_plates_path %>
