<h3>Edit BioMek run</h3>

<% form_for(@pool_plate) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'pool_plate', :locals => {:f => f} %>
  
  <%= f.submit "Update" %>
  <% end %>

<%= link_to 'Show', @pool_plate %> |
<%= link_to 'Back', pool_plates_path %>
