<h3>BioMek runs</h3>

<table class="border">
  <tr>
    <th>BioMek run</th>
	<th>Project</th>
	<th>Description</th>
  </tr>

<% for pool_plate in @pool_plates %>
  <tr>
    <td><%= link_to pool_plate.pool_plate_nr, :controller => :pool_wells, :action => :index,
                                              :pool_plate_id => pool_plate.id %></td>
    <td><%=h pool_plate.project.project_name if pool_plate.project %></td>
    <td><%=h pool_plate.pool_plate_desc %></td>
    <td class='noborder'><%= link_to 'Edit', edit_pool_plate_path(pool_plate) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New BioMek run', new_pool_plate_path %> |
<%= link_to 'Edit BioMek runs', wells_edit_path %>
