<p>
  <b>Pool plate nr:</b>
  <%=h @pool_plate.pool_plate_nr %>
</p>

<p>
  <b>Project:</b>
  <%=h @pool_plate.project.project_name if @pool_plate.project %>
</p>

<p>
  <b>Pool plate descr:</b>
  <%=h @pool_plate.pool_plate_desc %>
</p>


<%= link_to 'Edit', edit_pool_plate_path(@pool_plate) %> |
<%= link_to 'Back', pool_plates_path %>
