
<table>
  <tr>
  	<th>Oligo Name</th>
    <th>Gene</th>
	<th>Enzyme</th>
	<th>Region</th>
	<th>Amplicon Start</th>
	<th>Amplicon Length</th>
  </tr>

<% for oligo_design in @oligo_designs %>
  <tr>
  	<td><%=h oligo_design.oligo_name %></td>
    <td><%=h oligo_design.gene_code %></td>
	<td><%=h oligo_design.enzyme_code %></td>
	<td><%=h oligo_design.region.roi_nr %></td>
	<td><%=h oligo_design.amplicon_chr_start_pos %></td>
	<td><%=h oligo_design.amplicon_length %></td>
	
    <td><%= link_to 'Show', oligo_design %></td>
  </tr>
<% end %>
</table>

