<h3>Listing researchers</h3>

<table class="border">
  <tr>
    <th>Researcher name</th>
	<th>Initials</th>
    <th>Phone number</th>
    <th>Company</th>
  </tr>

<% for researcher in @researchers %>
  <tr>
    <td><%=h researcher.researcher_name %></td>
	<td><%=h researcher.researcher_initials %></td>
    <td><%=h researcher.phone_number %></td>
    <td><%=h researcher.company %></td>
    <td><%= link_to 'Edit', edit_researcher_path(researcher) %></td>
    <td><%= link_to 'Delete', researcher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New researcher', new_researcher_path %>
