<h1>Listing aliquots</h1>

<table>
  <tr>
    <th>Plate from</th>
	<th>Well from</th>
    <th>Plate to</th>
	<th>Well to</th>
	<th>Volume</th>
  </tr>

<% for aliquot in @aliquots %>
  <tr>
    <td><%=h aliquot.plate_from %></td>
	<td><%=h aliquot.well_from %></td>
    <td><%=h aliquot.plate_to %></td>
	<td><%=h aliquot.well_to %></td>
	<td><%=h aliquot.volume_pipetted %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', :back %>
