<%= debug(params) %>

<p>Path: <%= debug(@file_path) %></p>
<p>BioMek: <%= debug(@biomek_file) %></p>

<p> PlateWells: <%= debug(@plate_wells) %></p>

<p> OligoWells: <%= debug(@oligo_wells) %></p>
