<h3>Created BioMek Files</h3>

<table class="border">
  <tr>
    <th>File Name</th>
	<th>Researcher</th>
	<th>Date created</th>
  </tr>

<% for biomek_file in @biomek_files %>
  <tr>
  	<td><%= link_to biomek_file.created_file, :action => :show_files,
                                             :created_file_id => biomek_file.id %></td>
	<td><%=h biomek_file.researcher.researcher_name %></td>
	<td><%=h biomek_file.created_at.strftime("%m-%d-%Y %I:%M%p") %></td>
	<td><%= link_to 'Export to Excel', :action => :export_biomek, :created_file_id => biomek_file.id%></td>
	<% if current_user && current_user.has_role?("admin") %>
	  <td class="noborder"><%= link_to 'Delete File', :id => biomek_file.id, 
                                                      :action=>'delete_file', 
                                                      :confirm => 'Are you sure?' %></td>
	<% end %>	
  </tr>
<% end %>
</table>

<%= link_to 'New BioMek template', :action => 'biomek_new' %>